[project]
name = "${GITHUB_REPOSITORY_NAME}"
version = "0.1.0"
description = "${GITHUB_REPOSITORY_DESC}"
readme = "README.md"
authors = [
  { name = "${GITHUB_ACTOR_NAME}", email = "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com" },
]
license = { text = "GPL-3.0-or-later" }
requires-python = ">=3.11"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=8.3.3",
]

[tool.pyright]
venvPath = ".venv"
